<div>
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" >
        <div>{{accountForm.value | json}}</div>
        <mat-list>
            <div mat-subheader>Information personnelle</div>
            <mat-list-item>
                <mat-form-field hintLabel="Login" appearance="outline">
                    <mat-label>Login</mat-label>
                    <input 
                        matInput #inputLogin
                        [attr.maxlength]="255" 
                        id="login"
                        [formControl]="accountForm.controls['login']"
                        placeholder="Nom d'utilisateur" 
                        [(ngModel)]="account.login"
                    />
                    <mat-hint align="end">{{inputLogin.value?.length || 0}}/{{255}}</mat-hint>
                </mat-form-field>
            </mat-list-item>

            <mat-list-item>
                <mat-form-field appearance="fill">
                    <mat-label>Prénom</mat-label>
                    <input 
                        matInput 
                        id="firstName"
                        [formControl]="accountForm.controls['firstName']"
                        [(ngModel)]="account.firstName"
                    />
                </mat-form-field>
            </mat-list-item>

            <mat-list-item>
                <mat-form-field appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input 
                        matInput
                        id="lastName"
                        [formControl]="accountForm.controls['lastName']"
                        [(ngModel)]="account.lastName"
                    />
                </mat-form-field>
            </mat-list-item>

            <mat-list-item>
                <mat-slide-toggle
                        [checked]="account.activate"
                    >
                    </mat-slide-toggle>
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Actif</mat-label>
                        <input 
                        matInput
                        id="activate"
                        [formControl]="accountForm.controls['activate']"
                        value="{{account.activate}}"
                    />             
                </mat-form-field> -->
            </mat-list-item>

            <div mat-subheader>Droit d'accès</div>
            <mat-list-item>
                <mat-form-field appearance="outline">
                    <mat-label>Accès</mat-label>
                    <!-- <input 
                        matInput
                        id="role"
                        [formControl]="accountForm.controls['role']"
                        value="{{account.role}}"
                        [matAutocomplete]="auto"
                    /> -->
                    <mat-select [formControl]="accountForm.controls['role']" formControlName="role">
                    <!-- <mat-autocomplete #auto="matAutocomplete"> -->
                        <mat-option *ngFor="let option of roles" 
                                        [attr.roleId]="option.id" 
                                        [attr.data-tag]="option.role" 
                                        [value]="option" 
                                        #matRoles 
                                        (click)="setRoleId(matRoles.value.id)"
                        > 
                            <!-- <input type="hidden" id="roleId" name="roleName" [value]="option.id"> -->
                          {{option.role}}
                        </mat-option>
                      <!-- </mat-autocomplete> -->
                    </mat-select>
                </mat-form-field>
            </mat-list-item>

            <div mat-subheader>Adresse</div>
            <mat-list-item style="max-width: 800px;">
                <mat-form-field appearance="outline" style="min-width: 150px; width: 80%;">
                    <mat-label>Rue</mat-label>
                    <input 
                        matInput
                        id="street"
                        [formControl]="accountForm.controls['street']"
                        [(ngModel)]="account.address.street"
                    />
                </mat-form-field>
            
                <mat-form-field appearance="outline" style="min-width: 50px; width: 15%;">
                    <mat-label>N°</mat-label>
                    <input 
                        matInput
                        id="number"
                        [formControl]="accountForm.controls['number']"
                        [(ngModel)]="account.address.number"
                    />
                </mat-form-field>
            
                <mat-form-field appearance="outline" style="min-width: 50px; width: 15%;">
                    <mat-label>Box</mat-label>
                    <input 
                        matInput
                        id="box"
                        [formControl]="accountForm.controls['box']"
                        [(ngModel)]="account.address.box"
                    />
                </mat-form-field>
            </mat-list-item>

            <mat-list-item>
                <mat-form-field appearance="outline" style="width: 50%;">
                    <mat-label>Code postale</mat-label>
                    <input 
                        matInput
                        id="zipCode"
                        [formControl]="accountForm.controls['zipCode']"
                        [(ngModel)]="account.address.city.code"
                        [matAutocomplete]="autoZipCode"
                        (keyup)="onKey($event.target.value, cityZipCode)"
                    />
                    <mat-autocomplete #autoZipCode="matAutocomplete">
                        <mat-option *ngFor="let option of selectedCities" 
                                        [value]="option.code" 
                                        #matZipCode 
                        >
                        {{option.code}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 50%;">
                    <mat-label>Ville</mat-label>
                    <input 
                        matInput
                        id="city"
                        [formControl]="accountForm.controls['city']"
                        [(ngModel)]="account.address.city.city"
                        [matAutocomplete]="autoCityName"
                        (keyup)="onKey($event.target.value, cityName)"
                    />
                    <mat-autocomplete #autoCityName="matAutocomplete">
                        <mat-option *ngFor="let city of selectedCities"  
                                        [value]="city.city" 
                                        #matCityName 
                                        (click)="setCityId(city.id)"
                        >
                        {{city.city}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </mat-list-item>
            
            <mat-list-item>
                <mat-form-field appearance="outline">
                    <mat-label>Pays</mat-label>
                    <input 
                        matInput
                        id="country"
                        [formControl]="accountForm.controls['country']"
                        [(ngModel)]="account.address.city.country.name"
                        [matAutocomplete]="autoCountry"
                        (keyup)="onKey($event.target.value, countryType)"
                        
                    />
                    <mat-autocomplete #autoCountry="matAutocomplete">
                        <mat-option *ngFor="let option of selectedCountries" 
                                        [attr.countryId]="option.id" 
                                        [attr.data-tag]="option.name" 
                                        [value]="option.name" 
                                        #matCountry 
                                        (click)="setCountryId(option.id)"
                        >
                        {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </mat-list-item>

            <mat-list-item>
                <button *ngIf="true" mat-raised-button type="submit" color="primary">Submit</button>
                <button *ngIf="false" mat-raised-button color="primary">Update</button>
                <button mat-raised-button  color="primary">Close</button>
                <button mat-raised-button  color="primary" (click)="changeSelectValue('ceci esdt untest')">Chage value</button>
            </mat-list-item>
        </mat-list>
    </form>
</div>