<div>
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" >
        <!-- <div>{{accountForm.value | json}}</div> -->
            <div mat-subheader>Information personnelle</div>
            <div class="display-flex">

                <div class="flex-row">
                    
                        <div style="width: 60%;">
                            <div mat-subheader>Login</div>
                            <mat-form-field hintLabel="Login" appearance="outline" >
                                <mat-label>Login</mat-label>
                                <input 
                                    matInput #inputLogin
                                    [attr.maxlength]="255" 
                                    id="login"
                                    [formControl]="accountForm.controls['login']"
                                    placeholder="Nom d'utilisateur" 
                                    [(ngModel)]="account.login"
                                />
                                <mat-hint align="end">{{inputLogin.value?.length || 0}}/{{255}}</mat-hint>
                            </mat-form-field>
                        </div>
                        <div>
                            <div mat-subheader>Actif</div>
                            <mat-slide-toggle
                                    [checked]="account.activate"
                                    id="lblActivate"
                                    name="lblActivate"
                                >
                                </mat-slide-toggle>
                        </div>
                        <div>
                            <div mat-subheader>Droit d'accès</div>
                            <mat-form-field appearance="outline">
                                <mat-label>Accès</mat-label>
                                <mat-select [formControl]="accountForm.controls['role']" formControlName="role" >
                                    <mat-option *ngFor="let role of roles"
                                                    [value]="role.id" 
                                                    #matRoles 
                                                    (click)="setRoleId(matRoles.value)"
                                    > 
                                    {{role.role}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                </div>

                <div>
                    <mat-form-field appearance="outline" style="width: 50%;">
                        <mat-label>Prénom</mat-label>
                        <input 
                            matInput 
                            id="firstName"
                            [formControl]="accountForm.controls['firstName']"
                            [(ngModel)]="account.firstName"
                        />
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 50%;">
                        <mat-label>Nom</mat-label>
                        <input 
                            matInput
                            id="lastName"
                            [formControl]="accountForm.controls['lastName']"
                            [(ngModel)]="account.lastName"
                        />
                    </mat-form-field>
                </div>

                <div>
                    <app-contact-info-base [parentForm]="accountForm" [contactInfos]="account.contactInfos"></app-contact-info-base>
                </div>
                <div mat-subheader>Adresse</div>
                <div>
                    <mat-form-field appearance="outline" style="min-width: 150px; width: 70%;">
                        <mat-label>Rue</mat-label>
                        <input 
                            matInput
                            id="street"
                            [formControl]="accountForm.controls['street']"
                            [(ngModel)]="account.address.street"
                        />
                    </mat-form-field>
                
                    <mat-form-field appearance="outline" style="min-width: 50px; width: 15%;">
                        <mat-label>N°</mat-label>
                        <input 
                            matInput
                            id="number"
                            [formControl]="accountForm.controls['number']"
                            [(ngModel)]="account.address.number"
                        />
                    </mat-form-field>
                
                    <mat-form-field appearance="outline" style="min-width: 50px; width: 15%;">
                        <mat-label>Box</mat-label>
                        <input 
                            matInput
                            id="box"
                            [formControl]="accountForm.controls['box']"
                            [(ngModel)]="account.address.box"
                        />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" style="width: 20%;">
                        <mat-label>Code postale</mat-label>
                        <input 
                            matInput
                            id="zipCode"
                            [formControl]="accountForm.controls['zipCode']"
                            [(ngModel)]="account.address.city.code"
                            [matAutocomplete]="autoZipCode"
                            (keyup)="onKey($event.target.value, cityZipCode)"
                        />
                        <mat-autocomplete #autoZipCode="matAutocomplete">
                            <mat-option *ngFor="let option of selectedCities" 
                                            [value]="option.code" 
                                            #matZipCode 
                            >
                            {{option.code}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                
                    <mat-form-field appearance="outline" style="width: 40%;">
                        <mat-label>Ville</mat-label>
                        <input 
                            matInput
                            id="city"
                            [formControl]="accountForm.controls['city']"
                            [(ngModel)]="account.address.city.city"
                            [matAutocomplete]="autoCityName"
                            (keyup)="onKey($event.target.value, cityName)"
                        />
                        <mat-autocomplete #autoCityName="matAutocomplete">
                            <mat-option *ngFor="let city of selectedCities"  
                                            [value]="city.city" 
                                            #matCityName 
                                            (click)="setCityId(city.id)"
                            >
                            {{city.city}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" style="width: 40%;">
                        <mat-label>Pays</mat-label>
                        <input 
                            matInput
                            id="country"
                            [formControl]="accountForm.controls['country']"
                            [(ngModel)]="account.address.city.country.name"
                            [matAutocomplete]="autoCountry"
                            (keyup)="onKey($event.target.value, countryType)"
                            
                        />
                        <mat-autocomplete #autoCountry="matAutocomplete">
                            <mat-option *ngFor="let option of selectedCountries" 
                                            [attr.countryId]="option.id" 
                                            [attr.data-tag]="option.name" 
                                            [value]="option.name" 
                                            #matCountry 
                                            (click)="setCountryId(option.id)"
                            >
                            {{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div>
                    <button *ngIf="true" mat-raised-button type="submit" color="primary">Submit</button>
                    <button *ngIf="false" mat-raised-button color="primary">Update</button>
                    <button mat-raised-button  color="primary">Close</button>
                    <button mat-raised-button  color="primary" (click)="changeSelectValue('ceci esdt untest')">Chage value</button>
                </div>
            </div>
    </form>
</div>